{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background-color: #f5efe6;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #efe7dc;
}

.logo {
    font-size: 24px;
    letter-spacing: 2px;
    color: #2f4f3f;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #a67c52;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url('images/hero.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 239, 230, 0.6);
}

.hero-content {
    position: relative;
    max-width: 500px;
}

.hero-content h1 {
    font-size: 48px;
    color: #2f4f3f;
    margin-bottom: 10px;
}

.hero-content h3 {
    font-weight: normal;
    margin-bottom: 20px;
    color: #555;
}

.hero-content p {
    font-size: 28px;
    margin-bottom: 30px;
    color: #2f4f3f;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #c9a26d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a67c52;
}
.about-hero {
    background-color: #f3e5c8 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 60px;
}

.about-left {
    flex: 1;
    max-width: 550px;
}

.about-left h1 {
    font-size: 48px;
    color: #2f4f3f;
    margin-bottom: 25px;
}

.about-left p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 35px;
}

.about-btn {
    display: inline-block;
    padding: 14px 32px;
    background-color: #c9a26d;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-right img {
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
}
/* CONTACT SECTION */

.contact-section {
    background-color: #f3e5c8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    gap: 50px;
}

/* LEFT SIDE */

.contact-left {
    flex: 1;
}

.contact-left h1 {
    font-size: 42px;
    color: #2f4f3f;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #444;
}

.contact-info h4 {
    margin-top: 20px;
    font-weight: 600;
}

.contact-info p {
    margin: 5px 0;
}

.whatsapp-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 22px;
    background-color: #4f5d3a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
/* instagram */
.social-section {
    margin-top: 35px;
}

.social-section h4 {
    margin-bottom: 10px;
}

.instagram-link {
    text-decoration: none;
    font-size: 16px;
    color: #2f4f3f;
    font-weight: 500;
    transition: 0.3s;
}

.instagram-link:hover {
    color: #c9a26d;
}
/* FORM CARD */

.contact-form {
    flex: 1;
    background: #fffaf2;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.contact-form h3 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.primary-btn {
    width: 100%;
    padding: 14px;
    background-color: #c9a26d;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.secondary-btn {
    width: 100%;
    padding: 14px;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* RIGHT IMAGE */

.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-image img {
    max-width: 100%;
    border-radius: 12px;
}

/* Responsive */
/* MOBILE VERSION */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }

    .hero {
        padding: 40px;
        text-align: center;
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 22px;
    }

    /* about */
    .about-hero {
        flex-direction: column;
        padding: 60px 25px;
        text-align: center;
        align-items: center;
    }

    .about-left {
        max-width: 100%;
    }

    .about-left h1 {
        font-size: 36px;
        margin-bottom: 25px;
    }

    .about-left p {
        font-size: 18px;
        line-height: 1.9;
        margin-bottom: 30px;
    }

    .about-btn {
        display: inline-block;
        margin-bottom: 40px;
        padding: 16px 28px;
        font-size: 18px;
        border-radius: 8px;
    }

    .about-right {
        width: 100%;
    }

    .about-right img {
        width: 100%;
        max-width: 100%;
        border-radius: 12px;
    }

    .contact-section {
        flex-direction: column;
        padding: 50px 20px;
        gap: 30px;
    }

    .contact-left,
    .contact-form,
    .contact-image {
        width: 100%;
    }

    .contact-form {
        padding: 25px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        margin-bottom: 15px;
    }

    .primary-btn,
    .secondary-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-image img {
        width: 100%;
        margin-top: 20px;
    }
}
